<h1>Lista de lotes</h1>

<table class="table table-hover table-striped">
  <thead>
      <tr>
        <th colspan="3">Fecha de Elaboración</th>
        <th>Duración</th>
        <th>Lote Diario</th>
        <th colspan="2">Dígito de uso interno</th>
        <th>Dígito Verificador</th>
        <th>Descripción</th>
        <th colspan="3">Acciones</th>
      </tr>
      <tr>
        <th>Día</th>
        <th>Mes</th>
        <th>Año</th>
        <th>(meses)</th>
        <th></th>
        <th>1</th>
        <th>2</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= batch.elaboration_day %></td>
        <td><%= batch.elaboration_month %></td>
        <td><%= batch.elaboration_year %></td>
        <td><%= batch.lifespan %></td>
        <td><%= batch.daily_batch %></td>
        <td><%= batch.intern_use_1 %></td>
        <td><%= batch.intern_use_2 %></td>
        <td><%= batch.verify_digit %></td>
        <td><%= batch.description %></td>
        <td><%= button_to 'Ver Lote', batch, class: 'btn btn-info btn-xs', :method => :get %></td>
        <td><%= button_to 'Editar ', edit_batch_path(batch), class: 'btn btn-success btn-xs', :method => :get %></td>
        <td><%= button_to 'Eliminar ', batch, method: :delete, data: { confirm: 'Con esto eliminara el lote de forma permanente, esta seguro?' }, class: 'btn btn-danger btn-xs'%></td>
        <td><%= button_to 'Imprimir',{:controller => "print", :action => "selectLarge", :batch_code => batch.getStringCode}, class: 'btn btn-info btn-xs', :method => :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Lote', new_batch_path %>
