<h1>Selección para imprimir</h1>
<p>Seleccione los códigos que desea imprimir</p>
<%= form_tag print_sheet_p_path, :method=>'post' do %>
<%= hidden_field_tag 'codeCount', @codeCount %>
	<% for i in 1..@codeCount %>
		<%= label_tag 'inserte codigo ' + i.to_s %>
		<%= text_field_tag "code_" + i.to_s, nil, placeholder: 'p.e. 123COD', 'data-provide' => 'typeahead', 'data-source' => @autocomplete_codes.to_json%>
	<% end %>
	</br>
	<%= submit_tag 'Imprimir' %>
<% end %>
