<%= form_for(@product, :html => {:autocomplete => "off"}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h4>Código:</h4>
  <table class="table">
    <thead>
      <tr>
        <th>País</th>
        <th>Empresa</th>
        <th>Tipo Producto</th>
        <th>Tipo Envasado</th>
        <th>Digito Verificador</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= f.number_field :country,:required => true, :value => 780, :readonly => true %></td>
        <td><%= f.select :enterprise, [["GrainOils",0001]]%></td>
        <td><%= f.collection_select :product_type_id, ProductType.all, :id, :name%>
        <td><%= f.collection_select :packing_type_id, PackingType.all, :id, :description%>
        <td><%= f.text_field :verifyDigit, :value => '?', :disabled => true%></td>
      </tr>
    </tbody>
  </table>

  <div class="field">
    <h4>Descripción:</h4>
    <%= f.text_field :description,:required => true, :placeholder => 'Esto se usa?' %>
  </div>

  <div class="actions">
    <%= f.submit "Crear Producto", class: 'btn'%>
  </div>
<% end %>


<script type="text/javascript">
    function checkFilled() 
    {
      var inputVal = document.getElementById("product_enterprise").value;
      document.body.style.background="white";
      if (inputVal == "1")
      {
          document.body.style.background="white";
          document.getElementById("product_product").value = '<%=@nextCodeDais%>';
      }
      else
      {
          if (inputVal == "2") 
          {
              document.body.style.background="#005C99";
              document.getElementById("product_product").value = '<%=@nextCodeArcre%>';
          }
          else
          {
              if (inputVal == "3") 
              {
                  document.body.style.background="black";
                  document.getElementById("product_product").value = '<%=@nextCodeArmand%>';
              }
          }
    }
}
 
checkFilled();
</script>