<form autocomplete="off">
<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Parte numerica del codigo" %>
    <%= f.text_field :codeNumber, :required => true, :pattern =>'[0-9]+', :placeholder => 'p.e. 021305403'%>
  </div>
  <div class="field">
    <%= f.label "Siglas del codigo (Texto)" %>
    <%= f.text_field :codeText, :required => true, :pattern =>'([A-Z]|[0-9])+', :placeholder => 'p.e. SOD', 'data-provide' => 'typeahead', 'data-source' => @autocomplete_codes.to_json%>
  </div>
  <div class="field">
    <%= f.label "descripción" %>
    <%= f.text_field :description,:required => true, :placeholder => 'p.e. Destornillador de punta Sodimac' %>
  </div>
  <div class="actions">
    <%= f.submit "Crear Producto"%>
  </div>
<% end %>