<h1>Listado de Productos</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descriptión</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.codeText + product.codeNumber.to_s %></td>
        <td><%= product.description %></td>
        <td><%= link_to 'Ver Producto', product %></td>
        <td><%= link_to 'Editar Producto', edit_product_path(product) %></td>
        <td><%= link_to 'Eliminar Producto', product, method: :delete, data: { confirm: 'Con esto eliminara el producto de forma permanente, esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Insertar un nuevo producto', new_product_path %>
