<p id="notice"><%= notice %></p>

<p>
  <strong>Codetext:</strong>
  <%= @product.codeText %>
</p>

<p>
  <strong>Codenumber:</strong>
  <%= @product.codeNumber %>
</p>

<p>
<strong>Codigo de barra</strong>
<%

require 'barby'
require 'barby/barcode/code_39'
require 'barby/outputter/png_outputter'
 
barcode_value = @product.codeNumber.to_s + @product.codeText.upcase
full_path = "app/assets/images/" + barcode_value + ".png"
barcode = Barby::Code39.new(barcode_value)
File.open(full_path, 'w') { |f| f.write barcode.to_png(:margin => 3, :xdim => 2, :height => 55) }
%>

<%= image_tag barcode_value + ".png"%>

</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
