<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @product.codeNumber.to_s + @product.codeText %>
</p>

<p>
<strong>Codigo de barra: </strong>

<% img = @product.getBarcode %>

<%= image_tag "data:image/png;base64," + img %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Editar Producto', edit_product_path(@product) %> |
<%= link_to 'Volver', products_path %>
