<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @product.codeNumber.to_s + @product.codeText %>
</p>

<%
# coding: utf-8
 
require 'rubygems'
 
# Load libraries of barby.
require 'barby'
require 'barby/barcode/ean_13'
require 'barby/outputter/png_outputter'
 
check = Barby::EAN13.checksum('491234567890')
%>

<%=check%>



<%= link_to 'Editar Producto', edit_product_path(@product) %> |
<%= link_to 'Volver', products_path %>
