<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @product.codeText + @product.codeNumber.to_s%>
</p>

<p>
<strong>Codigo de barra: </strong>
<%

require 'barby'
require 'barby/barcode/code_39'
require 'barby/outputter/png_outputter'
 
barcode_value = @product.codeNumber.to_s + @product.codeText
full_path = "app/assets/images/" + barcode_value + ".png"
barcode = Barby::Code39.new(barcode_value)
File.open(full_path, 'w') { |f| f.write barcode.to_png(:margin => 3, :xdim => 2, :height => 55) }
%>

<%= image_tag barcode_value + ".png"%>

</p>

<p>
  <strong>Descripción:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Editar Producto', edit_product_path(@product) %> |
<%= link_to 'Volver', products_path %>
